.button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 15px;
    border-radius: 30px;
    background: #fe5f1e;
    border: none;
    &:hover {
        cursor: pointer;
    }
}